* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  color: inherit;
}

body {
  @extend %grid;
  font-family: $sans;
  color: $black;
  font-size: var(--ms-0);
  letter-spacing: .005em;
  font-weight: 300;
  padding-top: 5rem;
  &.home {
    padding-top: 0;
  }
}

::selection {
  color: $blue;
  background: white;
  .information & {
    background: $blue;
    color: white;
  }
}

button,
input {
  font-family: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}