.home {
}

.home-projects {
  grid-column: 1 / 13;
  grid-row: 1 / 3;
  position: relative;
}

.home-project {
  position: absolute;
  top: 0;
}

.home-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.99);
  padding: .75rem var(--padding);
  font-size: var(--ms-0);
  z-index: 2000;
  h2 {
    display: flex;
    flex-flow: column;
    @include bp(m){
      flex-flow: row;
    }
    font-weight: bold;
  }
  span {
    @include bp(m){
      padding-left: 1rem;
    }
    font-weight: normal;
  }
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.home-project {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }
  img {
    display: block;
    height: auto;
    object-fit: cover;
  }
}
