.information {
  h3 {
    @extend %uppercase;
    font-size: var(--ms--1);
    margin-bottom: 0.5em;
    font-weight: 600;
    letter-spacing: .01em;
  }
}
.information-copy {
  font-size: var(--ms-1);
  line-height: 1.2;
  letter-spacing: 0.005em;
  grid-column: 1 / 14;
  padding: 0 var(--padding);
  margin-bottom: 1em;
  @include bp(m) {
    font-size: var(--ms-1);
    grid-column: 1 / 8;
  }
  @include bp(l) {
    grid-column: 1 / 9;
    font-size: var(--ms-2);
  }
  h2 {
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5em;
    hyphens: none;
  }
  p {
    margin-bottom: .5em;
  }
}
.information-clients {
  grid-column: 1 / 14;
  padding: 0 var(--padding);
  margin-bottom: 1em;
  @include bp(s) {
    grid-column: 1 / 7;
  }
  @include bp(m) {
    grid-column: 8 / 10;
  }
  @include bp(l) {
    grid-column: 10 / 11;
  }
  ul {
    list-style: none;
  }
  li {
    white-space: nowrap;
  }
}
.information-blocks {
  grid-column: 1 / 14;
  padding: 0 var(--padding);
  @include bp(s) {
    grid-column: 8 / 14;
  }
  @include bp(m) {
    grid-column: 11 / 14;
  }
  section {
    margin-bottom: 1.5em;
  }
  a {
    margin-bottom: 0.25em;
    @extend %underline;
    &:hover, &:focus {
      &:after {
        opacity: 0;
      }
    }
  }
}
