.information {
  h3 {
    @extend %uppercase;
    font-size: var(--ms--1);
    margin-bottom: 0.5em;
    font-weight: 600;
  }
}
.information-copy {
  font-size: var(--ms-1);
  line-height: 1.2;
  letter-spacing: 0.005em;
  font-weight: 400;
  grid-column: 2 / 14;
  hyphens: auto;
  margin-bottom: 1em;
  @include bp(m) {
    min-height: 80vh;
    grid-column: 2 / 7;
  }
  h2 {
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 2em;
    hyphens: none;
  }
}
.information-clients {
  grid-column: 2 / 14;
  margin-bottom: 1em;
  @include bp(s) {
    grid-column: 2 / 7;
  }
  @include bp(m) {
    grid-column: 8 / 10;
  }
  ul {
    list-style: none;
  }
  li {
    white-space: nowrap;
  }
}
.information-blocks {
  grid-column: 2 / 14;
  @include bp(s) {
    grid-column: 8 / 14;
  }
  @include bp(m) {
    grid-column: 11 / 14;
  }
  section {
    margin-bottom: 1.5em;
  }
}
