.information {
  padding-top: 4rem;
  @include bp(l){
    padding-top: 6rem;
  }
  h3 {
    @extend %uppercase;
    font-size: var(--ms--1);
    margin-bottom: 0.5em;
    font-weight: 600;
    letter-spacing: 0.01em;
  }
}
.information-copy {
  font-size: var(--ms-0);
  hyphens: auto;
  line-height: 1.3;
  letter-spacing: 0.005em;
  grid-column: 1 / 13;
  margin-bottom: 1em;
  max-width: 31em;
  @include bp(m) {
    hyphens: none;
    font-size: var(--ms-1);
    grid-column: 1 / 10;
    grid-row: span 3;
  }
  @include bp(l) {
    grid-row: auto;
    grid-column: 1 / 10;
  }
  @include bp(xl) {
    font-size: var(--ms-2);
    max-width: 32em;
    grid-row: auto;
  }
  h2 {
    font-size: var(--ms-1);
    @include bp(m){
      font-size: var(--ms-2);
    }
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
    hyphens: none;
  }
  p {
    margin-bottom: 0.5em;
  }
}
.information-clients {
  grid-column: 1 / 13;
  margin-bottom: 1em;
  @include bp(s) {
    grid-column: 1 / 7;
  }
  @include bp(m) {
    grid-column: 10 / 13;
  }
  @include bp(l) {
    grid-column: 10 / 11;
  }
  ul {
    list-style: none;
  }
  li {
    white-space: nowrap;
  }
}
.information-blocks {
  grid-column: 1 / 13;
  @include bp(s) {
    grid-column: 8 / 13;
  }
  @include bp(m) {
    grid-column: 10 / 12;
  }
  @include bp(l) {
    grid-column: 12 / 13;
  }
  section {
    margin-bottom: 1.5em;
  }
  a {
    margin-bottom: 0.25em;
    @include underline(1px);
  }
}
