.projects {
  background: $blue;
  color: white;
}

.project-filters {
  @extend %uppercase;
  position: fixed;
  bottom: 0;
  background: $blue;
  z-index: 1000;
  width: 100%;
  border-top: 1px solid rgba(white, 0.5);
  padding: 1rem var(--padding);
  display: flex;
  justify-content: space-between;

  button {
    @extend %uppercase;
    appearance: none;
    background: transparent;
    border: 0;
  }
}

.projects-list {
  display: contents;
}

.project-item {
  display: contents;
}

.project-content {
  grid-column: 2 / 14;
  @include bp(s){
    grid-column: 2 / 10;
  }
  @include bp(m){
    grid-column: 5 / 10;
  }
  p {
    hyphens: auto;
    letter-spacing: .01em;
    line-height: 1.4;
    max-width: 35em;
  }
}
.project-title {
  font-weight: 600;
  font-size: var(--ms-0);
  line-height: 1.4;
  @extend %uppercase;
  padding-right: 1rem;
  grid-column: 2 / 14;
  @include bp(m){
    grid-column: 2 / 5;
  }
  span {
    display: block;
    font-weight: normal;
  }
}
.project-tags {
  list-style: none;
  font-size: var(--ms--1);
  @extend %uppercase;
  grid-column: 2 / 10;
  columns: 2;
  @include bp(s){
    columns: 1;
    grid-column: 11 / 14;
  }
  @include bp(m){
    grid-column: 11 / 14;
  }
}

.project-media {
  padding-top: 2rem;
  grid-column: 2 / 15;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 4rem;
  @extend %hide-scrollbars;
}

.project-media-item {
  list-style: none;
  margin-right: 1rem;
  img,
  video {
    [data-image-size="large"] & {
      height: 40vh;
    }
    [data-image-size="small"] & {
      height: 20vh;
    }
  }
}
