.projects {
}

.project-filters {
  z-index: 1000;
  grid-column: 2 / 12;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;
  font-size: var(--ms-3);

  button {
    appearance: none;
    background: transparent;
    text-transform: capitalize;
    border: 0;
    color: $lightgray;
    transition: $fast;
    &:after {
      content: ", ";
      color: $gray;
    }
    &:last-of-type:after {
      content: "";
    }
    cursor: pointer;
    &:hover, &.active {
      color: $black;
    }
    &.active {
      color: $black;
    }
  }
}

.projects-list {
  display: contents;
}

.project-card {
  grid-column: span 12;
  @include bp(m){
    grid-column: span 6;
  }
  @include bp(l){
    grid-column: span 4;
  }
  list-style: none;
  overflow: hidden;
  padding-bottom: 1.5rem;
  font-size: var(--ms-0);
  &.hidden {
    display: none;
  }
  a {
    display: block;
    text-decoration: none;
    transition: $fast;
    &:hover, &:focus {
      opacity: .9;
    } 
  }
}

.project-card--title {
  font-weight: 600;
  letter-spacing: .01em;
  margin-bottom: -.1em;
}
.project-card--subtitle {
  line-height: 1.2;
  letter-spacing: .02em;
  max-width: 20em;
}
.project-card--media {
  height: 70vw;
  border-radius: 3px;
  @include bp(m){
    height: 30vw;
  }
  @include bp(l){
    height: 20vw;
  }
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
  margin-bottom: .5rem;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: 110%;
  }
}
