.project {
  display: contents;
}

.project--header {
  grid-column: 1 / 10;
  margin-bottom: 1rem;
  font-size: var(--ms-1);
  @include bp(l) {
    grid-column: 3 / 10;
  }
  @include bp(xl) {
    grid-column: 4 / 9;
  }
}

.project--title {
  font-size: var(--ms-3);
  margin-bottom: 0.25em;
  @include bp(l) {
    font-size: var(--ms-5);
  }
  @include bp(xl) {
    margin-top: 0.25em;
  }

  font-weight: 600;
  letter-spacing: -0.015em;
  line-height: 1;
}

.project--tags {
  text-transform: capitalize;
  color: $gray;
  line-height: 1.3;
  display: block;
  @include bp(s) {
    display: inline-block;
  }
}

.project--years {
  margin-right: 1em;
}
.project--body {
  display: contents;
  font-size: var(--ms-0);
  @include bp(m) {
    font-size: var(--ms-1);
  }
  a {
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .hasimage {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  p {
    grid-column: 1 / 13;
    padding-right: 1em;
    line-height: 1.3;
    hyphens: auto;
    margin-bottom: 1em;
    @include bp(l) {
      hyphens: none;
      grid-column: 3 / 11;
    }
    @include bp(xl) {
      hyphens: none;
      grid-column: 4 / 10;
    }

    img {
      max-width: 100%;
      max-height: 60vh;
      & + .caption {
        display: block;
        font-size: var(--ms--1);
        text-align: center;
      }
    }
  }
  .gallery {
    grid-column: 1 / 13;
    @include bp(l) {
      grid-column: 3 / 11;
    }
  }

  & > div,
  & > iframe,
  .embed {
    width: 100%;
    margin-bottom: 1rem;
    grid-column: 1 / 13;
    @include bp(m) {
      grid-column: 3 / 11;
    }
    @include bp(xl) {
      grid-column: 4 / 10;
    }
  }
}

.embed {
  margin-bottom: 1em;
  margin-top: 1em;
}

.gallery {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  margin-top: 1em;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  @include bp(m) {
    grid-template-columns: 1fr 1fr;
  }
  @include bp(l) {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
.gallery--item, .embed{
  display: flex;
  flex-flow: column;
  justify-content: center;
  img {
    display: block;
    width: 100%;
    border-radius: $br;
  }
  figcaption {
    text-align: center;
    font-size: var(--ms--1);
    padding-top: 0.5em;
  }
}

.project--hero {
  grid-column: 1 / 13;
  padding-top: 1rem;
  margin-bottom: 1rem;
  @include bp(l) {
    grid-column: 3 / 11;
  }
  img,
  picture {
    width: 100%;
    border-radius: $br;
  }
}

.project--related {
  display: contents;
  .section-title {
    padding-top: 4rem;
    font-weight: 600;
    grid-column: 1 / 10;
    font-size: var(--ms-1);
    padding-bottom: 1rem;
    @include bp(l) {
      grid-column: 3 / 11;
    }
    @include bp(xl) {
      grid-column: 4 / 11;
    }
  }
  ul {
    grid-column: 1 / 13;
    @include bp(l) {
      grid-column: 3 / 11;
    }
    @include bp(xl) {
      grid-column: 4 / 11;
    }
    display: flex;
    flex-wrap: wrap;
  }
  .project-card {
    padding-bottom: 2rem;
    flex-basis: 100%;
    @include bp(m) {
      padding-right: 2rem;
      flex-basis: 50%;
    }
  }
}
