.site-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em var(--padding);
  position: fixed;
  line-height: 1;
  color: $black;
  z-index: 1000;
  color: $black;
  transition: $fast;
  background-color: rgba(255, 255, 255, calc(var(--y) * 0.01));
  font-weight: 400;
  font-size: var(--ms-0);
  .home & {
    color: white;
  }
  .is-light.home & {
    color: black;
  }
  a {
    text-decoration: none;
  }
}

.site-title {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  h1 {
    font-weight: 600;
  }
  @include bp(m) {
    display: block;
  }
  &.short {
    display: block;
    @include bp(m) {
      display: none;
    }
  }
}

.site-nav {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.03em;
    &:hover,
    &:focus {
      @include underline($gray);
    }
  }
}

.projects .site-nav a[href*="projects"],
.single-project .site-nav a[href*="projects"],
.information .site-nav a[href*="information"] {
  @include underline($gray);
}

.site-wrapper {
  display: contents;
  position: relative;
}

.site-footer {
  font-size: var(--ms--1);
  color: $black;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  bottom: 0;
  text-align: center;
  position: absolute;
  .home & {
    display: none;
  }
  span {
    display: block;
  }
}
.footer-nav {
  margin-bottom: .5em;
}
