.site-header {
  @extend %grid;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.4rem;
  line-height: 1;
  color: $black;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid rgba($black, 1);
  .projects & {
    border-bottom: 1px solid rgba(white, 1);
    color: white;
    background: $blue;
  }

  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-title {
  grid-row: 1 / 2;
  grid-column: 2 / 11;
  @include bp(s) {
    grid-column: 2 / 6;
  }
  position: relative;
  z-index: 1000;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: -0.2em;
  .site-description {
    display: none;
    @include bp(l) {
      .home & {
        display: inline;
      }
    }
  }
  a {
    @include bp(l){
      .home & {
        display: none;
      }
    }
  }
}

.site-nav {
  position: relative;
  z-index: 1000;
  .home & {
    background: white;
  }
  grid-column: 2 / 14;
  display: flex;
  @include bp(s) {
    grid-column: 9 / 14;
    justify-content: space-between;
  }
  @include bp(m) {
    grid-column: 11 / 14;
  }
  a {
    margin-left: 1em;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.site-footer {
  font-size: var(--ms--2);
  grid-column: 2 / 14;
  opacity: 0.5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .home & {
    display: none;
  }
  span {
    display: block;
  }
}
