.site-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  @include bp(m){
    padding: calc(var(--padding) / 2) var(--padding);
  }
  position: fixed;
  line-height: 1;
  color: $black;
  z-index: 1000;
  color: $black;
  transition: $fast;
  background-color: rgba(255,255,255,calc(var(--y) * .01));
  .home & {
    color: white;
  }
  .is-light.home & {
    color: black;
  }
  font-weight: 400;
  a {
    text-decoration: none;
  }
}

.site-title {
  font-weight: 600;
}

.site-nav {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  a {
    margin-left: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .03em;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.projects .site-nav a[href*="projects"],
.single-project .site-nav a[href*="projects"],
.information .site-nav a[href*="information"] {
  @include underline(-3px);
}

.site-wrapper {
  display: contents;
  position: relative;
}

.site-footer {
  font-size: var(--ms--1);
  color: $gray;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  bottom: 0;
  text-align: center;
  position: absolute;
  .home & {
    display: none;
  }
  span {
    display: block;
  }
}
