$slideWidth: 100vw;

.home-slides {
  display: flex;
  transition: $slow;
  @for $i from 0 to 20 {
    [data-slide="#{$i}"] & {
      transform: translateX(-$slideWidth * $i);
    }
  }
}

@for $i from 0 to 20 {
  [data-slide="#{$i}"] {
    .home-caption:nth-of-type(#{$i + 1}) {
      color: $black;
    }
  }
}
.slide {
  cursor: pointer;
  width: $slideWidth;
  z-index: 100;
  transition: $slow transform;
}
