$slideWidth: 100vw;

.home-slides {
  position: relative;
  width: 100vw;
  transition: $slow;
  background: black;
}
.slide {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: $slideWidth;
  z-index: 100;
  transition: $slow opacity;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}

@for $i from 0 to 20 {
  .is-light {
    [data-slide="#{$i}"] {
      .home-caption:nth-of-type(#{$i + 1}) {
        color: black;
      }
    }
  }
  [data-slide="#{$i}"] {
    .home-caption:nth-of-type(#{$i + 1}) {
      color: white;
      pointer-events: all;
    }
  }
}