@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $point==l {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 750px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 500px) {
      @content;
    }
  } @else if $point== "landscape" {
    @media (orientation: landscape) {
      @content;
    }
  }
}

$sans: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$blue: rgb(19, 38, 231);
$black: rgb(4, 4, 7);
$gray: #8e8e8e;
$lightgray: rgb(155, 148, 148);
$fast: 220ms;
$slow: 850ms;
$br: 3px;

%hide-scrollbars {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

%uppercase {
  text-transform: uppercase;
  letter-spacing: 0.002em;
}

@mixin underline($offset) {
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:after {
    content: "";
    transition: 60ms;
    height: 1px;
    position: absolute;
    bottom: $offset;
    left: 0;
    width: 100%;
    opacity: .25;
    transition: $fast;
    background: currentColor;
  }
  &:hover:after, &:focus:after {
    opacity: 1;
  }
}

:root {
  --padding: min(1.5rem, 3vw);
  --ratio: 1.25;
  --ms-0: clamp(0.95rem, 1.3vw, 1.05rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-8: calc(var(--ms-7) * var(--ratio));
}
