@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1850px) {
      @content;
    }
  }
  @if $point==l {
    @media (min-width: 1300px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 500px) {
      @content;
    }
  } @else if $point== "landscape" {
    @media (orientation: landscape) {
      @content;
    }
  }
}

$sans: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$blue: rgb(19, 38, 231);
$black: rgb(4, 4, 7);
$gray: #8f8b87;
$lightgray: rgb(155, 148, 148);
$fast: 220ms;
$slow: 850ms;
$br: 3px;

%hide-scrollbars {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

%uppercase {
  text-transform: uppercase;
  letter-spacing: 0.002em;
}

@mixin underline($color) {
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

%bodycopy {
  font-size: var(--ms-0);
  @include bp(m) {
    font-size: var(--ms-1);
  }
  max-width: 40em;
  p {
    line-height: 1.4;
    margin-bottom: 1em;
    hyphens: none;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: 600;
  }
  a {
    @include underline($gray);
    &:hover,
    &:focus {
      @include underline($black);
    }
  }
}

:root {
  --padding: max(2%, 1.2rem);
  --ratio: 1.25;
  --ms-0: clamp(1rem, 1.3vw, 1.05rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-8: calc(var(--ms-7) * var(--ratio));
}
