@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $point==l {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 1100px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 600px) {
      @content;
    }
  }
}

$sans: -apple-system, BlinkMacSystemFont, Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$blue: rgb(19, 38, 231);
$black: rgb(4, 4, 7);
$fast: 220ms;
$slow: 550ms;

%grid {
  display: grid;
  grid-template-columns: 3vw repeat(12, 1fr) 3vw;
  grid-template-rows: auto auto;
  column-gap: .5rem;
  row-gap: 0.5rem;
}

%hide-scrollbars {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

%uppercase {
  text-transform: uppercase;
  letter-spacing: 0.002em;
}

%underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:after {
    content: "";
    transition: 60ms;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    background: currentColor;
  }
}


:root {
  --padding: 3vw;
  --ratio: 1.25;
  --ms-0: clamp(1rem, 1.3vw, 1.15rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-8: calc(var(--ms-7) * var(--ratio));
}
