.information {
  padding-top: 4rem;
  @include bp(l) {
    padding-top: 6rem;
  }
  h3 {
    @extend %uppercase;
    font-size: 0.9em;
    margin-bottom: 0.35em;
    font-weight: 600;
    letter-spacing: 0.035em;
  }
}
.information-copy {
  @extend %bodycopy;
  grid-column: 1 / 13;
  margin-bottom: 3em;
  @include bp(m) {
    margin-bottom: 1em;
    max-width: 36em;
    grid-column: 1 / 8;
    grid-row: span 3;
  }
  @include bp(l) {
    grid-row: auto;
  }
  @include bp(xl) {
    font-size: var(--ms-2);
    grid-row: auto;
  }
  h2,
  h1 {
    font-size: var(--ms-1);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
    hyphens: none;
    @include bp(m) {
      font-size: var(--ms-2);
    }
  }
  p {
    margin-bottom: 1rem;
  }
}
.information-clients {
  grid-column: 1 / 13;
  margin-bottom: 1em;
  @include bp(s) {
    grid-column: 1 / 7;
  }
  @include bp(m) {
    grid-column: 10 / 13;
  }
  @include bp(l) {
    grid-column: 8 / 10;
  }
  section {
    margin-bottom: 1.5em;
  }
  ul {
    list-style: none;
  }
  li {
    display: block;
    font-size: var(--ms-0);
    @include bp(l) {
      white-space: nowrap;
    }
  }
}
.information-blocks,
.information-clients {
  a {
    margin-bottom: 0.3em;
    display: inline-block;
    @include underline($gray);
    &:hover,
    &:focus {
      @include underline($black);
    }
  }
}
.information-blocks {
  grid-column: 1 / 13;
  @include bp(s) {
    grid-column: 8 / 13;
  }
  @include bp(m) {
    grid-column: 10 / 12;
  }
  @include bp(l) {
    grid-column: 11 / 13;
  }
  @include bp(xl) {
    grid-column: 10 / 13;
  }
  section {
    margin-bottom: 1.5em;
  }
}
