---
layout: base
class: home
---

<ul class="home-projects">
    {% assign p = collections.project[1] %}
    <li class="home-project">
        {% include media with p.data.media[0] %}
        <div class="home-caption">
            <h2>
                <a href="{{p.link}}">{{p.data.title}}</a><span>
                    – {{p.data.subtitle}}
                </span>
            </h2>
        </div>
    </li>
</ul>