---
layout: base
class: projects
title: Projects
---

<nav class="project-filters">
    {% assign tags = "" | split: "" %}
    {% for p in collections.project %}
    {% for tag in p.data.tags %}
    {% assign taglist = tags | join: "" %}
    {% unless taglist contains tag%}
    {% assign tags = tags | concat: tag%}
    {% endunless %}
    {% endfor %}
    {% endfor %}
    <div>
        <button class="active" data-filter="all">All</button>
        {%for tag in tags %}
        <button data-filter="{{tag | slug}}">{{tag}}</button>
        {% endfor %}
    </div>
</nav>

<ul class="projects-list">
    {% for pr in settings.projects %}
        {% for p in collections.project %}
        {% if pr == p.data.title %}
            {% include project_card with {p: p}%}
        {% endif %}
        {% endfor %}
    {% endfor %}
</ul>